<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWidgetLabel" jhiTranslate="arcadeanalyticsApp.widget.home.editLabel">Edit a
            Widget</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div *ngIf="widget">
            <div class="form-group" [hidden]="!widget.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="widget.id" readonly />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="arcadeanalyticsApp.widget.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="widget.name" required />
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="arcadeanalyticsApp.widget.type" for="field_type">Type</label>
                <select class="form-control" name="type" id="field_type" [(ngModel)]="widget.type" disabled>
                    <option *ngFor="let widgetType of (widgetTypes2abstractTypes | objectKeys)" [value]="widgetType">
                        {{widgetTypes2abstractTypes[widgetType]}} </option>
                </select>
            </div>

            <div *ngIf="widget.type !== 'text-editor'"><label>Source</label>
                <div *ngIf="!chosenPrimaryWidget" class="form-group">
                    <label class="form-control-label" jhiTranslate="arcadeanalyticsApp.widget.dataSource" for="field_dataSource">DataSource</label>
                    <select class="form-control" id="field_dataSource" name="dataSource" [(ngModel)]="widget.dataSourceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dataSourceOption.id" *ngFor="let dataSourceOption of datasources; trackBy: trackDataSourceById">{{dataSourceOption.description}}</option>
                    </select>
                </div>
                <div *ngIf="chosenPrimaryWidget" class="form-group">
                    <label class="form-control-label" for="field_dataSource">Widget</label>
                    <select class="form-control" id="field_dataSource" name="widgetSource" [(ngModel)]="chosenPrimaryWidget">
                        <option [ngValue]="widgetOption" *ngFor="let widgetOption of availablePrimaryWidgets; trackBy: trackDataSourceById">{{widgetOption.name}}
                            - {{widgetOption.type}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
</form>