.widget-table {
    width: 100%;
    height : 100%;
    display: table;
    table-layout: fixed;
}

.widget-table-cell {
    display: table-cell;
    position: relative;
}

.cell-content-wrapper {
    margin: 0px;
}

tab .cell-content-wrapper {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.viewport {
    width: 100%;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

.graph-legend {
    position: absolute;
    right: 0px;
    top: 40px;
    width: auto;
    height: auto;
    max-width: 300px;
    min-width: 200px;
    z-index: 1;
    padding-top: 10px;
}

.graph-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 100%;
}
.legend-scale {
    overflow-y: auto;
    max-height: 200px;
    margin-top: 7px;
}

.graph-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.graph-legend .legend-scale ul li {
    font-size: 100%;
    font-weight: normal;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.graph-legend .legend-scale ul li a {
    font-size: 100%;
    font-weight: normal;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.graph-legend ul.legend-labels li div.legend-label {
    display: inline-block;
    border-radius: 3px;
    margin-right: 3px;
    padding: 2px 5px;
    /*border: 1px solid #999;*/
    cursor: pointer;
    width: 150px;
}

.graph-legend ul.legend-labels li .legend-label-class-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.legend-labels span {
    font-size: 12px;
}

.graph-legend a {
    color: #777;
}

li a {
    font-weight: normal;
}

.no-border {
    border: none;
}

.empty-widget-message {
    position: relative;
    text-align: center;
    margin: 0px;
}

.fulltext-search {
    position: absolute;
    float: left;
    top: 40px;
    width: 80%;
    z-index: 3;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ededed;
    background-color: white;
}

#fullTextSearchInput {
    height: 23px;
}

#fullTextSearchClear {
    position: absolute;
    right: 12px;
    top: -6px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

/*
 * Sidebar options
 */

.vertical-overflow-scroll {
    overflow-y: auto;
}

.submenu-vertical-overflow {
    overflow-y: auto;
    max-height: 400px;
}

.graph-layout-settings > .row {
    padding: 5px;
}

.command:hover {
    cursor: pointer;
}

#cleanSearchInput {
    color: black;
}

#cleanSearchInput:hover {
    background-color: white;
}

#searchClear {
    position: absolute;
    right: 7px;
    top: -15px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.sidebarPopover {
    padding-left: 15px;
}

.menu-separator {
    text-align: center;
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-separator hr {
    width: 80%;
}

.sidebar-default .navigation li a {
    color: #333;
}

.navigation>li>a {
    min-height: 35px;
}

.navigation>li>a>i {
    font-size: 1.8em;
}

.navigation li .inner-menu-icon {
    margin-top: 3px;
    cursor: pointer;
}

.navigation>li>a>span {
    margin-left: 5px;
    vertical-align: middle;
}

.submenu-header {
    padding: 0px 1px 0px 5px;
}

/*
 * Timeline
 */

.addTimelineClassDef {
    display: block;
    margin-top: 32px;
}

.addTimelineClassDefEnabled {
    cursor: pointer;
}

.addTimelineClassDefDisabled {
    cursor: not-allowed;
    color: lightgrey;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 5px;
}

.table td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

/**
 * Bottom Table
 */

.bottom_table_viewport {
    position: relative;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 0;
    margin-bottom: 60px;
    margin-top: 10px;
}

/*
 * Algorithms
 */

 #shortestPathFrom:focus, #shortestPathTo:focus:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    border: 1px solid rgba(81, 203, 238, 1);
}

#shortestPathFromClear, #shortestPathToClear {
    position: absolute;
    right: 7px;
    top: -7px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#shortestPathSwap {
    position: absolute; 
    left: 245px; 
    top: 42px; 
    font-size: 1.5em; 
    cursor: pointer;
}

.disabled, .disabled:hover {
    color: grey;
    cursor: not-allowed;
}

#disabledShowHidden {
    color: lightgrey;
    cursor: not-allowed;
}

#disabledShowHidden:hover {
    font-weight: normal;
    cursor: not-allowed;
}

#shortestPathSwap[disabled="disabled"]:hover {
    cursor: not-allowed;
}

.layout-input-params {
    width: 80%;
    height: 20px;
}