#indexDatasourceButton {
    padding: 3px;
}

.datasourceInfoItem {
    margin-bottom: 20px;
}

.datasourceInfoLabel {
    display: block;
    font-weight: 400;
}

.datasourceInfoItem a {
    font-weight: normal;
}