<div class="modal-header">
    <h4 class="modal-title pull-left">Create Edge</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="discardTempEdge()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="sourceNode && targetNode" class="row">
        <div class="col-md-12">
            <p>Choose a class for the new edge from <b>{{sourceNode['data']['id']}}</b> to <b>{{targetNode['data']['id']}}</b>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>
                Class:
            </label>
            <select *ngIf="edgeClassesNames" id="edgeClassSelection" class="form-control" [(ngModel)]="chosenEdgeClassName">
                <option *ngFor="let className of edgeClassesNames" [ngValue]="className"> {{className}} </option>
            </select>
        </div>
    </div>
    <br/>
    <div *ngIf="sourceNode && targetNode" class="row">
            <div class="col-md-12">
                <label>
                    Direction:
                </label><br/>
                <div class="col-md-12" style="margin: 5px;">
                    <span>
                        <b>Source</b>: {{sourceNode['data']['id']}}
                    </span>
                </div>
                <div class="col-md-12" style="margin: 5px;">
                    <button class="btn btn-xs btn-primary">
                        <i class="fa fa-exchange fa-rotate-90" aria-hidden="true" (click)="invertEdgeDirection()"></i>
                    </button>
                </div>
                <div class="col-md-12" style="margin: 5px;">
                    <span>
                        <b>Target</b>: {{targetNode['data']['id']}}
                    </span>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer" style="padding-top: 40px;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="discardTempEdge()">
        <span class="fa fa-ban"></span>&nbsp;
        <span jhiTranslate="graphwidget.queryModal.cancel">Cancel</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="triggerEdgeSaving()" [ngClass]="{'disabled': !chosenEdgeClassName}">
        <span>Save</span>
        <i class="icon-arrow-right14 position-right"></i>
    </button>
</div>