.updateTitle {
    font-size: 15px;
    font-weight: 450;
}

.sectionTitle {
    font-size: 14px;
    font-weight: 400;
}

.propertyRow {
    margin: 10px 0px;
    text-align: right;
}

.editSection {
    margin-bottom: 20px; 
}

.thiner-hr {
    margin-bottom: 15px;
}