<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myArcadeUserLabel"
            jhiTranslate="arcadeanalyticsApp.arcadeUser.home.createOrEditLabel">Create or edit a Arcade User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="arcadeUser">
            <div class="form-group" [hidden]="!company.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="arcadeUser.id" readonly/>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="arcadeanalyticsApp.arcadeUser.user" for="field_user">User</label>
                <select class="form-control" id="field_user" name="user" [(ngModel)]="arcadeUser.userId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">
                        {{userOption.id}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="arcadeanalyticsApp.arcadeUser.company"
                       for="field_company">Company</label>
                <select class="form-control" id="field_company" name="company" [(ngModel)]="arcadeUser.companyId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="companyOption.id"
                            *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
