<div id="outerPoweredBy">
    <div id="innerPoweredBy" class="col-md-12" [ngStyle]="{'padding-left': padding + 'px', 'padding-right': padding + 'px'}">
        <p id="poweredBy" [ngClass]="{'topMargin': top, 'bottomMargin': bottom}">
            <a class="logo" href="http://arcadeanalytics.com/" target="_blank" style="padding-top: 0px; padding-bottom: 0px;">
                <span class="logo-img"></span>
            </a>
            <a href="http://arcadeanalytics.com/" target="_blank">
                <span>Powered By Arcade Analytics Ltd</span>
            </a>
        </p>
    </div>
</div>