<!--Widget Header-->
<div *ngIf="!minimizedView" class="row">
    <div class="col-md-6" style="height: 35px;">
        <h2 style="margin: 0px;">
            <span>{{widget.name}}</span>
        </h2>
    </div>
    <div class="col-md-6" style="height: 35px;">
        <div class="btn-group flex-btn-group-container" style="position: relative; top: 10%;">
            <a type="submit" [routerLink]="['/dashboard', widget['dashboardId']]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="checkSidebarStatusOnExit()">
                <span class="fa fa-2x fa-times"></span>
            </a>
        </div>
    </div>
</div>

<hr *ngIf="!minimizedView" style="margin-top: 5px;">

<div class="widget-table" [id]="'widget-container_' + widgetId">

    <div style="display: table-row">

        <!-- Main sidebar -->
        <div [id]="'widget-sidebar_' + widgetId" *ngIf="!minimizedView" class="sidebar sidebar-main sidebar-fixed sidebar-default widget-table-cell">
            <div id="sidebar-dynamic" class="sidebar-content cell-content-wrapper" [ngStyle]="{'max-height': maxSidebarHeight}">
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">

                        <ul id="firstLevelMenu" class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li id="searchMenu" [popover]="popoverMessage" [isOpen]="popoverMustBeOpen" placement="right" container="body" (mouseover)="closePopover()"
                                triggers="">
                                <a>
                                    <i class="fa fa-search fa-2x" [ngStyle]="!sidebarCollapsed && {'margin-right': '16.84px'}"></i>
                                    <span>Search</span>
                                </a>
                                <ul>
                                    <li>
                                        <div class="row" style="padding: 5px 1px 0px 5px;">
                                            <div class="col-md-6">
                                                <label>
                                                    Append last result:
                                                </label>
                                            </div>
                                            <div class="col-md-5">
                                                <ui-switch [(ngModel)]="appendLastResult" size="small" (ngModelChange)="handleAppendLastResultChange()"></ui-switch>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 2px;">
                                                <i class="fa fa-question-circle command" aria-hidden="true" [popover]="popTemplate" containerClass="sidebarPopover" placement="right"
                                                    triggers="hover" container="body"></i>
                                            </div>
                                            <ng-template #popTemplate>
                                                <ul class="searchPopoverList" style="padding: 5px; margin: 0px;">
                                                    Use this flag to fetch data following an increental way or showing just the last result:
                                                    <br>
                                                    <li style="margin-bottom: 10px;">
                                                        <span>
                                                            true: new loaded data will be appended to the just retrieved data.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            false (default): just tha last retrieved data is shown.
                                                        </span>
                                                    </li>
                                                </ul>
                                                Append-last-result and auto-update flags cannot be both enabled.
                                            </ng-template>
                                        </div>
                                    </li>
                                    <li>
                                        <div *ngIf="dataSourceMetadata" class="row" style="padding: 5px 1px 0px 5px;">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <label for="classSelection">Class</label>
                                                        <select *ngIf="!dataSource['type'].startsWith('RDBMS_')" id="classSelection" class="form-control" [(ngModel)]="classForDataFetching">
                                                            <option *ngFor="let className of allClassesNames" [ngValue]="className"> {{className}} </option>
                                                        </select>
                                                        <select *ngIf="dataSource['type'].startsWith('RDBMS_')" id="classSelection" class="form-control" [(ngModel)]="classForDataFetching">
                                                            <option *ngFor="let className of nodesClassesNames" [ngValue]="className"> {{className}} </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="nodeClassSelection">Limit</label>
                                                        <input id="limit" class="form-control" type="number" min="1" step="1" [(ngModel)]="limitForNodeFetching">
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <span *ngIf="classType && classForDataFetching" class="fetchNodesFromClassCommand fa fa-play fa-2x fetchNodesFromClassCommandEnabled"
                                                            (click)="loadElementsFromClasses()"></span>
                                                        <span *ngIf="!classType || !classForDataFetching" class="fetchNodesFromClassCommand fa fa-play fa-2x fetchNodesFromClassCommandDisabled"></span>
                                                    </div>
                                                </div>
                                                <br/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a (click)="openQueryModal(queryModal)">
                                            <i class="fa fa-cogs"></i>Type Query
                                        </a>
                                    </li>
                                    <li>
                                        <div class="row" style="padding: 0px 1px 0px 5px;">
                                            <div class="col-md-6">
                                                <label>
                                                    Auto-update:
                                                </label>
                                            </div>
                                            <div class="col-md-5">
                                                <ui-switch [(ngModel)]="autoUpdate" size="small" (ngModelChange)="handleAutoUpdateFlagChange()"></ui-switch>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 2px;">
                                                <i class="fa fa-question-circle command" aria-hidden="true" [popover]="autoUpdatePopoverTemplate" containerClass="sidebarPopover"
                                                    placement="right" triggers="hover" container="body"></i>
                                            </div>
                                            <ng-template #autoUpdatePopoverTemplate>
                                                <div [innerHtml]="autoUpdatePopover">
                                                </div>
                                            </ng-template>
                                        </div>
                                        <div class="row" style="padding: 0px 1px 0px 5px;">
                                            <div class="col-md-6">
                                                <label>
                                                    Update every
                                                </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="autoUpdateIntervalWindow" class="form-control" type="number" style="width: 65px;height: 20px;"
                                                    [min]="minimumTimeoutWindow" step="1" [(ngModel)]="autoUpdateIntervalWindow" (ngModelChange)="handleAutoUpdateIntervalChange()" />
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px;">
                                                <span>secs</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <ng-template #queryModal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" jhiTranslate="graphwidget.queryModal.title">Query</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modalRef.hide()">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>&nbsp;Execute a query against the datasource: </label>
                                            ​
                                            <textarea id="query" class="form-control" rows="5" cols="70" [(ngModel)]="currentQuery" placeholder="Type the query to execute..."></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="padding-top: 40px;">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">
                                            <span class="fa fa-ban"></span>&nbsp;
                                            <span jhiTranslate="graphwidget.queryModal.cancel">Cancel</span>
                                        </button>
                                        <button type="button" class="btn btn-primary" (click)="loadDataFromCurrentQuery()" [ngClass]="{'disabled': (!currentQuery || currentQuery.length === 0)}">
                                            <span jhiTranslate="graphwidget.queryModal.submit">Submit</span>
                                            <i class="icon-arrow-right14 position-right"></i>
                                        </button>
                                    </div>
                                </ng-template>

                            </li>
                            <li id="dynamicFilterMenu">
                                <a>
                                    <i *ngIf="sidebarCollapsed" class="fa fa-filter fa-2x">
                                        <span *ngIf="filters" class="badge bg-warning-400" style="font-size: 0.4em; z-index: 2; position: absolute; left: 33px;">{{filters.length}}</span>
                                    </i>
                                    <i *ngIf="!sidebarCollapsed" class="fa fa-filter fa-2x" style="margin-right: 20.56px;">
                                        <span *ngIf="filters" class="badge bg-warning-400" style="z-index: 2; position: absolute; left: 33px; top: 0px;">{{filters.length}}</span>
                                    </i>
                                    <span>Filter</span>
                                </a>
                                <ul id='filterMenu'>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a id="filter_reset_all" class="btn btn-primary" (click)="filterResults()" style="color: rgba(255,255,255,.75);">
                                                    Re-Apply Filters
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a id="filter_reset_all" class="btn btn-danger" (click)="filterResetAll()" style="color: rgba(255,255,255,.75);">
                                                    Reset All Filters
                                                </a>
                                            </div>
                                        </div>
                                        <div *ngIf="dataSource && dataSource['indexing'] === 'INDEXED'">
                                            <filter-menu #filterMenuComponent [datasourceId]="widget['dataSourceId']" [startingFilters]="filters"
                                                (filterResultsEmitter)="filterResults($event)" (facetsLoaded)="sidebarResetMenu()">
                                            </filter-menu>
                                        </div>
                                        <div *ngIf="dataSource" class="row" style="padding: 5px 1px 0px 10px;">
                                            <div *ngIf="dataSource['indexing'] === 'NOT_INDEXED' || dataSource['indexing'] === undefined" class="col-md-12 btn-group">
                                                <span>
                                                    <b>Filter menu deactivated</b>
                                                    <br /> You need to index your source Database.</span>
                                                <br />
                                                <br />
                                                <button type="button" class="btn btn-sm btn-primary" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                                    (click)="callDatasourceIndexing()">
                                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                                    <span>Index Datasource</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-primary" *jhiHasAnyAuthority="['ROLE_READER']" disabled>
                                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                                    <span>Index Datasource</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div *ngIf="dataSource" class="row" style="padding: 5px 1px 0px 10px;">
                                            <div *ngIf="dataSource['indexing'] === 'INDEXING'" class="col-md-12 btn-group">
                                                <span>
                                                    <b>Filter menu deactivated</b>
                                                    <br /> Source database is being indexed, please wait till the process will
                                                    be completed.</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li id="selectionMenu">
                                <a>
                                    <i class="fa fa-hand-pointer-o fa-2x"></i>
                                    <span>Selection</span>
                                </a>
                                <ul>
                                    <li>
                                        <li style="margin-top: 5%; padding-left: 5%;">
                                            <a (click)="selectAll()" style="width: 50%; display: inline-block;">
                                                <i class="fa fa-minus-square-o"></i> Select all
                                            </a>
                                            <a (click)="unselectAll()" style="width: 45%; display: inline-block;">
                                                <i class="fa fa-minus-square-o"></i> Unselect all
                                            </a>
                                        </li>
                                        <li style="padding-left: 5%;">
                                            <a (click)="selectInverted()" style="width: 50%; display: inline-block;">
                                                <i class="fa fa-arrows-h"></i>Invert
                                            </a>
                                        </li>
                                </ul>
                                </li>
                                <li>
                                    <a>
                                        <i class="fa fa-columns fa-2x" [ngStyle]="!sidebarCollapsed && {'margin-right': '16.27px'}"></i>
                                        <span>Columns</span>
                                    </a>
                                    <ul>
                                        <li *ngIf="lastLoadedData.elements.length === 0">
                                            <span>No data loaded yet.</span>
                                        </li>
                                        <li *ngIf="lastLoadedData.elements.length > 0">
                                            <div class="row" style="padding: 5px 1px 0px 5px;">
                                                <div class="col-md-7">
                                                    <label>
                                                        'Class Name' column:
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <ui-switch [(ngModel)]="classNameColumnIncluded" size="small"></ui-switch>
                                                </div>
                                                <div class="col-md-1" style="padding-left: 2px;">
                                                    <i class="fa fa-question-circle command" aria-hidden="true" [popover]="popTemplate" containerClass="sidebarPopover" placement="right"
                                                        triggers="hover" container="body"></i>
                                                </div>
                                                <ng-template #popTemplate>
                                                    <span>
                                                        Use this flag to show or hide the 'Class Name' column.
                                                    </span>
                                                </ng-template>
                                            </div>
                                            <accordion [closeOthers]="true">
                                                <accordion-group class="classAccordion" *ngFor="let className of lastLoadedClasses" [heading]="className" [panelClass]="outerAccordion"
                                                    style="border-color: white;">
                                                    <div class="clearfix">
                                                        <div class="row" style="padding: 5px 1px 10px 5px;">
                                                            <div class="col-lg-6" (click)="selectAllPropertiesOfClass(className)">
                                                                <button type="button" class="btn btn-primary btn-xs">Select All</button>
                                                            </div>
                                                            <div class="col-lg-6" (click)="unselectAllPropertiesOfClass(className)">
                                                                <button type="button" class="btn btn-primary btn-xs">Unselect All</button>
                                                            </div>
                                                        </div>
                                                        <ul>
                                                            <li *ngFor="let property of lastLoadedColumns">
                                                                <div *ngIf="!property['name'].startsWith('@') && property['className'] === className">
                                                                    <input type="checkbox" [(ngModel)]="property['included']" (ngModelChange)="makeColumnsChangeDetected()">
                                                                    <span>{{property['name']}}</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </li>
                                    </ul>
                                </li>
                                <li id="snapshotMenu">
                                    <a>
                                        <i class="fa fa-camera fa-2x" [ngStyle]="!sidebarCollapsed && {'margin-right': '12.92px'}"></i>
                                        <span>Snapshot</span>
                                    </a>
                                    <ul>
                                        <snapshot-menu *ngIf="widget" #snapshotMenu [widgetId]="widget.id" (snapshotLoaded)="updateTableWidgetFromSnapshot($event)"></snapshot-menu>
                                    </ul>
                                </li>
                                <li id="exportMenu">
                                    <a>
                                        <i class="fa fa-download fa-2x" [ngStyle]="!sidebarCollapsed && {'margin-right': '16.84px'}"></i>
                                        <span>Export</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <br/>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">File Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="fileName" class="form-control" [(ngModel)]="fileName" name="fileName" placeholder="File name without extension"
                                                        required/>
                                                </div>
                                            </div>
                                        </li>
                                        <br>
                                        <br>
                                        <br>
                                        <li [ngClass]="{'li-disabled': !fileName}">
                                            <a (click)="exportAsCSV()">
                                                Export as CSV
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-separator">
                                    <hr>
                                </li>
                                <li>
                                    <a class="sidebar-control sidebar-main-toggle hidden-xs" (click)="toggleSideBar()">
                                        <i class="fa fa-desktop fa-2x position-left" [ngStyle]="!sidebarCollapsed && {'margin-right': '13.14px'}"></i>
                                        <span>Expand/Collapse</span>
                                    </a>
                                </li>
                                <!-- /main -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main viewport -->
        <div [id]="'widget-viewport_' + widgetId" class="widget-table-cell widget-viewport">

            <tabset>
                <tab id="tableTab" heading="Table" [active]="tableTabActive" (select)="switchTab('table')">
                    <div [id]="'viewport-container_' + widgetId" class="cell-content-wrapper panel panel-flat" [ngClass]="{'no-border': minimizedView}">

                        <!--Table Viewport-->
                        <div [id]="'table_' + widgetId" class="viewport" [ngStyle]="{height: widgetHeight}">
                            <i *ngIf="showSpinner" class="fa fa-spinner fa-pulse fa-3x fa-fw wait-spinner" aria-hidden="true"></i>

                            <table-data #tableComponent [tableContainerTotalHeight]="widgetHeight" [inputElements]="lastLoadedData['elements']" [inputColumns]="lastLoadedColumns" [deletionEnabled]="!minimizedView"
                                [selectionEnabled]="!minimizedView" [classNameColumnIncluded]="classNameColumnIncluded" (elementDeletion)="deleteElementById($event['toDelElementId'])">
                            </table-data>

                            <!--'Click To Edit' message-->
                            <div *ngIf="lastLoadedData['elements'].length === 0 && minimizedView && !embedded">
                                <a [routerLink]="['/widget', widget['id']]">
                                    <h2 class="empty-widget-message" [ngStyle]="{top: getEmptyWidgetMessageHeight()}">Click here to Edit the Widget</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab *ngIf="dataSource && !minimizedView" id="datasourceTab" heading="Datasource" [active]="datasourceTabActive" (select)="switchTab('datasource')">
                    <div [id]="'viewport-container_' + widgetId" class="cell-content-wrapper panel panel-flat" style="border-top: none; border-top-left-radius: 0px; border-top-right-radius: 0px;"
                        [ngClass]="{'no-border': minimizedView}">

                        <!-- Datasource Viewport -->
                        <data-source-info [dataSource]="dataSource" [height]="widgetHeight" (datasourceIndexingCall)="callDatasourceIndexing()"></data-source-info>

                    </div>
                </tab>
            </tabset>

            <!-- Toolbar -->
            <div *ngIf="!minimizedView" id="upperToolBar" class="navbar navbar-default" [ngStyle]="{height: toolbarHeight}">

                <!-- Navbar header -->
                <div class="navbar-header">
                    <div class="row" style="padding: 5px 1px 0px 5px;">
                        <div class="col-md-12 btn-group">
                            <input id="fullTextSearchInput" type="search" class="form-control" (keyup)="searchTerm.next($event.target.value)" placeholder="Type the text to search..."
                                (focus)="renderFullTextSearch()" (blur)="updateFullTextSearchRendering()">
                            <span id="fullTextSearchClear" class="fa fa-times-circle-o" (click)="resetFullTextSearch()" title="Clear"></span>
                        </div>
                    </div>
                </div>

                <!-- Left nav -->
                <ul class="nav navbar-nav">
                    <li>
                        <a (click)="deleteSelected('all')">
                            <i class="fa fa-trash" title="Delete"></i>
                        </a>
                    </li>
                    <li>
                        <a (click)="crop()">
                            <i class="fa fa-crop" title="Crop"></i>
                        </a>
                    </li>
                </ul>

                <!-- Right nav -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" (click)="saveAll()">
                            <i class="fa fa-save" title="Save"></i>
                        </a>
                        <a *jhiHasAnyAuthority="'ROLE_READER'" class="disabled">
                            <i class="fa fa-save" title="Save"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--Full Text Search-->
            <div *ngIf="renderFullTextSearchView" [id]="'fullTextSearch_' + widgetId" class='fulltext-search' [ngStyle]="{'max-height': widgetHeight, padding: '0px'}">
                <fulltext-search [datasourceId]="widget['dataSourceId']" [searchTerm]="searchTerm" [componentHeight]="widgetHeight" (queryEmitter)="loadNodesFromIds($event)"
                    (noSuchIndexEmitter)="resetFullTextSearch(true)" (closeEmitter)="resetFullTextSearch(true)"></fulltext-search>
            </div>

            <div *ngIf="minimizedView" style="opacity: 0; height: 1px; font-size: 1px;">
                <!--Used to update the view when only width changes-->
                {{widgetColumnWidth}}
            </div>
        </div>
    </div>
</div>