.empty-widget-message {
    position: relative;
    text-align: center;
    margin: 0px;
}

.widget-table {
    width: 100%;
    height : 100%;
    display: table;
    table-layout: fixed;
}

.widget-table-cell {
    display: table-cell;
    position: relative;
}

.cell-content-wrapper {
    margin: 0px;
}

tab .cell-content-wrapper {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.viewport {
    width: 100%;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

.leveller-top-margin {
    margin-top: 1px;
}